@import "../styles/Colors";
@import "../styles/theme.scss";
.Cocktail {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: themed("bg");
    height: calc(100vh - 60px);
    gap: 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    @media screen and (max-width: 480px) {
      gap: 1rem;
      padding-bottom: 1rem;
      height: auto;
    }

    .Btn {
      letter-spacing: 3px;
      background-color: #1e284262;
      color: white;
      text-decoration: none;
      cursor: pointer;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 300;
      padding: 1rem 1.5rem;
      &:hover {
        background-color: #1e28429c;
      }
    }
    .Wrapper {
      display: flex;
      flex-direction: row;
      width: 70%;
      align-self: center;
      border-radius: 5px;
      justify-self: center;
      -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      @media screen and (max-width: 480px) {
        width: 90%;
        margin: 0 1rem;
        flex-direction: column;
      }
      .Img {
        width: 40%;
        padding-right: 0.5rem;
        background-color: themed("bgSoft");
        flex: 1;
        object-fit: cover;
        border-radius: 5px 0px 0px 5px;
        @media screen and (max-width: 480px) {
          width: 100%;
          border-radius: 5px 5px 0px 0px;
          padding: 0;
        }
      }
      .Info {
        flex: 2;
        display: flex;
        padding: 1rem 0.5rem;
        flex-direction: column;
        border-radius: 5px;
        background-color: themed("bgSoft");
        .DrinkP {
          font-weight: bold;
          text-transform: capitalize;
          line-height: 1.8;
          font-weight: 300;
          letter-spacing: 1px;
          color: themed("textColor");
          display: flex;
          align-items: baseline;
          margin-bottom: 0.7rem;
          .contain {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
          }
          .DrinkData {
            background: #1e2842;
            font-weight: bold;
            align-self: center;
            letter-spacing: 1px;
            word-break: keep-all;
            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            color: $blue-50;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
