@import "./Colors";
$themes: (
  light: (
    textColor: $gray-900,
    bg: $blue-gray-50,
    bgSoft: $white,
    text: $blue-900,
  ),
  dark: (
    textColor: $gray-50,
    bg: $blue-A700,
    bgSoft: $blue-A400,
    text: $blue-50,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
